<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <h4>About</h4>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        Steve's Computer Training is a mock website hosted on Azure App Services. The front-end is a seperate website with AngularJS and bootstrap that calls Web API 2 as a seperate back-end website that uses Entity Framework 6 and authenticates users.
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
