<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <h4>Contact</h4>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        Steve Miazga - IT developer for Steve's Computer Training - a mock website hosted on Azure App Services.
        <br />
        <br />
        <address>
            Contact Steve Miazga at:  <a href="mailto:smiazga@sbcglobal.net">smiazga@sbcglobal.net</a>
        </address>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
