<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <h4>Schedule</h4>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <h4 data-ng-hide="authentication.isAuth">You need to be logged to reserve seats for a class.</h4>
        <br />
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Class Time</th>
                        <th colspan="2">Remaining Seats</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="schedule in schedules">
                        <td>
                            {{ schedule.courseTitle }}
                        </td>
                        <td>
                            {{ schedule.startDate | date:'MM/dd/yyyy' }}
                        </td>
                        <td>
                            {{ schedule.endDate | date:'MM/dd/yyyy' }}
                        </td>
                        <td>
                            {{ schedule.classTime }}
                        </td>
                        <td>
                            {{ schedule.remainingSeats}}
                        </td>
                        <td>
                            <button class="btn btn-primary" ng-hide="schedule.remainingSeats<0" ng-disabled="!authentication.isAuth" ng-click="reserveSeat(schedule)">Reserve Seat</button>
                            <span ng-show="schedule.remainingSeats<0">
                                No Remaining Seats
                            </span>
                            <span ng-show="reserveExists(schedule)">
                                Already reserved!
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" ng-click="backHome()">Back to Home</button>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
