<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <h4>Class Reservations</h4>
        <div ng-show="sessions.length < 1">
            <p>No Reservations. Please reserve a class from the schedule.</p>
        </div>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-8">
        <div ng-hide="sessions.length < 1" class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Course Title</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th colspan="2">Class Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="session in sessions">
                        <td>
                            {{ session.courseTitle }}
                        </td>
                        <td>
                            {{ session.startDate | date:'MM/dd/yyyy' }}
                        </td>
                        <td>
                            {{ session.endDate | date:'MM/dd/yyyy' }}
                        </td>
                        <td>
                            {{ session.classTime }}
                        </td>
                        <td>
                            <button class="btn btn-primary" ng-click="deleteMarkSession(session.sessionId)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" ng-click="goSchedules()">Go to Schedules</button>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>